<launch>

    <arg name="robot_frame" default="base_link" />
    <arg name="planning_frame" default="local" />

    <node name="tinyhelm_core_node" pkg="tinyhelm_core" type="helm_core.py" output="screen">
        <param name="robot_frame" value="$(arg robot_frame)"/>
        <param name="planning_frame" value="$(arg planning_frame)"/>
    </node>

    <node name="tinyhelm_cmd_vel_mux" pkg="tinyhelm_core" type="cmd_vel_mux" output="screen">
        <param name="teleop_timeout" value="3.0"/>
    </node>

</launch>
