<launch>
	
    <arg name="helm_config" value="$(find tinyhelm_core)/param/helm.yaml"/>
    <arg name="planner_config" value="$(find tinyhelm_core)/param/planner_asv.yaml"/>

    <rosparam file="$(arg helm_config)" command="load"/>
    <rosparam file="$(arg planner_config)" command="load"/>

    <!-- Controller Manager Node-->
    <node name="tinyhelm_core" pkg="tinyhelm_core" type="helm_core.py" output="screen"/>
    <node name="tinyhelm_cmd_vel_mux" pkg="tinyhelm_core" type="cmd_vel_mux" output="screen"/>

    <!-- Controllers -->
    <node name="tinyhelm_waypoints" pkg="tinyhelm_waypoints" type="waypoints_node.py" output="screen"/>
    <node name="tinyhelm_stationkeeping" pkg="tinyhelm_stationkeeping" type="stationkeeping_node.py" output="screen"/>

    <!-- Monitors -->

</launch>