<launch>

    <rosparam file="$(find tinyhelm_core)/param/config.yaml" command="load"/>

    <include file="$(find tinyhelm_stationkeeping)/launch/stationkeeping.launch"/>
    <include file="$(find tinyhelm_waypoints)/launch/asv.launch"/>

    <node name="tinyhelm_core_node" pkg="tinyhelm_core" type="helm_core.py" output="screen"/>
    <node name="tinyhelm_cmd_vel_mux" pkg="tinyhelm_core" type="cmd_vel_mux" output="screen"/>

</launch>
