<launch>

	<arg name="scan_topic" default="/scan_filtered" />

	<node name="tinyhelm_scan_to_cloud_node" pkg="tinyhelm_obstacles" type="scan_to_cloud" output="screen">
		<param name="frame" value="laser"/>
		<param name="scan_topic" value="$(arg scan_topic)"/>
		<param name="cloud_topic" value="/obstacle_cloud"/>
	</node>

	<node name="obstacle_planner_node" pkg="tinyhelm_obstacles" type="obstacle_planner_node" output="screen">
		<param name="tactical_plan_topic" value="/waypoints/_plan"/>
		<param name="divergence_param" value="/waypoints/max_line_divergence"/>

		<param name="fine_resolution" value="0.25"/>
		<param name="fine_size" value="512"/>
		<param name="coarse_resolution" value="1.0"/>
		<param name="coarse_size" value="1024"/>

		<param name="decay_half_life" value="60.0"/>
		<param name="inflate_radius" value="1.5"/>
		<param name="soft_radius" value="5.0"/>

		<param name="min_detour" value="25.0"/>
		<param name="detour_leg_fraction" value="0.5"/>
		<param name="max_detour" value="200.0"/>
		<param name="budget_factor" value="3.0"/>
	</node>

	<node name="collision_monitor" pkg="tinyhelm_obstacles" type="collision_monitor" output="screen">
		<param name="vessel_halfwidth" value="1.0"/>
		<param name="margin" value="2.0"/>
		<param name="braking_horizon" value="3.0"/>
	</node>

</launch>
