#!/usr/bin/env python3

PACKAGE = "tinyhelm_stationkeeping"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("publish_debug_markers", bool_t, 0, "Publish debug markers", True)

gen.add("max_linear_speed", double_t, 0, "Maximum linear speed", 0.45, 0, 5)
gen.add("max_turning_speed", double_t, 0, "Maximum turning speed", 0.9, 0, 5)

gen.add("max_divergence", double_t, 0, "Maximum divergence", 1.0, 0.02, 100)
gen.add("deadzone_fraction", double_t, 0, "Fraction of max_divergence treat as good enough", 0.1, 0.01, 0.99)

gen.add("P", double_t, 0, "Proportional gain for PID controller", 3.0, 0, 100)
gen.add("I", double_t, 0, "Integral gain for PID controller", 0.001, 0, 10)
gen.add("D", double_t, 0, "Derivative gain for PID controller", 65.0, 0, 100)

gen.add("rate", int_t, 0, "Update rate", 30, 10, 60)

exit(gen.generate(PACKAGE, "tinyhelm_stationkeeping", "StationKeeping"))