<launch>

    <arg name="robot_frame" default="base_link"/>
    <arg name="planning_frame" default="local"/>

    <node name="tinyhelm_waypoints_node" pkg="tinyhelm_waypoints" type="line_planner_node.py" output="screen">

        <param name="robot_frame" value="$(arg robot_frame)"/>
        <param name="planning_frame" value="$(arg planning_frame)"/>

        <param name="publish_debug_markers" value="true"/>
        <param name="ignore_altitude" value="true"/>

        <param name="max_linear_speed" value="2.0"/>
        <param name="max_turning_speed" value="3.0"/>

        <!-- If base_link is this far away from the line, the projected distance will be min and scale to max when it's on the line.-->
        <param name="max_line_divergence" value="4.0"/>

        <param name="min_project_dist" value="1.0"/>
        <param name="max_project_dist" value="10.0"/>

        <!-- Distance at which the goal is considered reached.-->
        <param name="xy_distance_threshold" value="4.0"/>

        <!-- PID params for heading control.-->
        <param name="P" value="1.0"/>
        <param name="I" value="0.005"/>
        <param name="D" value="10.0"/>

        <!-- If the robot frame is away from the line, the goal will be mirrored into the opposite direction and multiplied with this value.-->
        <param name="side_offset_mult" value="0.5"/>

        <!-- Update rate, should be about the same as localization rate.-->
        <param name="rate" value="30"/>

    </node>

    <!-- Takes polygons and makes Path patterns.-->
    <node name="tinyhelm_area_to_path_node" pkg="tinyhelm_waypoints" type="area_to_path_node.py" output="screen">
        <param name="step_size" value="5.0"/>
    </node>

</launch>