<launch>
	<arg name="fixed_frame" default="local" />
	<arg name="origin_lat" default="43.379296" />
	<arg name="origin_lon" default="16.602522" />
	<arg name="realtime_factor" default="1.0" />
	<arg name="rate" default="30" />

	<node name="tinyhelm_world_sim_node" pkg="tinyhelm_sim" type="sim_node.py" output="screen">
		<param name="origin_lat" value="$(arg origin_lat)"/>
		<param name="origin_lon" value="$(arg origin_lon)"/>
		<param name="realtime_factor" value="$(arg realtime_factor)"/>
		<param name="rate" value="$(arg rate)"/>
	</node>

	<node name="tinyhelm_sim_obstacles_node" pkg="tinyhelm_sim" type="sim_obstacles_node.py" output="screen">
		<param name="fixed_frame" value="$(arg fixed_frame)"/>
		<param name="laser_frame" value="laser"/>
		<param name="scan_topic" value="/scan_verified"/>
		<param name="max_range" value="25.0"/>
		<param name="num_beams" value="360"/>
		<param name="rate" value="10"/>
		<param name="noise_sigma" value="0.05"/>
		<param name="dropout_probability" value="0.02"/>
		<param name="speckle_rate" value="0.1"/>
		<rosparam param="polygons">[[[30.0, -10.0], [40.0, -10.0], [40.0, 10.0], [30.0, 10.0]]]</rosparam>
	</node>

</launch>
